# Build and Release Folders
__pycache__/
[Oo]bj/
[Bb]in/

# Other files and folders
.vscode/

# Executables
*.pyc
*.pyi
*.pyo
*.exe
*.com

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
